<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/21063103-3d9b-4934-9a9c-ec55adce5058/resourceGroups/test/providers/Microsoft.Web/sites/studentapiuoltest</ResourceId>
    <ResourceGroup>test</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://studentapiuoltest.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://studentapiuoltest.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$studentapiuoltest</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>